<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="log-list-wrapper">

    </div>

    <script>
        setInterval(() => {
            fetch(`https://search.thismeme.me/log`)
                .then(response => response.json())
                .then(logs => {
                    console.log(logs);
                    document.getElementById("log-list-wrapper").innerHTML = "";
                    for(let log of logs){
                        document.getElementById("log-list-wrapper").innerHTML += log + "<br/>";
                    }
                });
        }, 3000);
    </script>
</body>
</html>