<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밈 업로드</title>
</head>
<body>
    <div id="url-input-wrapper">
        <input id="url-input" type="text" placeholder="URL 입력" />
    </div>
    <div id="image-list-wrapper">

    </div>

    <script>
        document.getElementById("url-input").addEventListener("click", () => {

        });
    </script>
</body>
</html>