<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밈 업로드</title>
</head>
<body>
    <div id="url-input-wrapper">
        <input id="url-input" type="text" placeholder="URL 입력" />
        <button id="get-url-button">Get Images</button>
    </div>
    <div id="image-list-wrapper">

    </div>

    <script>
        document.getElementById("get-url-button").addEventListener("click", () => {
            const target = document.getElementById("url-input");
            const targetUrl = target.value;
            const data = {
                "targetUrl": targetUrl
            };

            fetch("/admin/upload/crawling", {
                method: "POST",
                mode: "same-origin",
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    const result = data.result;
                    console.log(result);
                });
    });
    </script>
</body>
</html>